[Unit]
Description=mvirt VM Manager
After=network.target mvirt-log.service

[Service]
Type=simple
ExecStart=/usr/bin/mvirt-vmm
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
